# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log
.vscode/symbols.json
data/

# venv
env
venv

# other
.DS_Store
*.lnk
*.json
*.jason
*.ps1

# sphinx docs
_build
_static
_templates


