
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Start Bootstrap</div>
        <div class="list-group list-group-flush">
            <a href="/another" class="list-group-item list-group-item-action">Another</a>
            <a href="/index" class="list-group-item list-group-item-action">index</a>
            <a href="/" class="list-group-item list-group-item-action">/</a>
            <a href="#" class="list-group-item list-group-item-action">Events</a>
            <a href="#" class="list-group-item list-group-item-action">Profile</a>
            <a href="#" class="list-group-item list-group-item-action">Status</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->