    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Sidebar</div>
        <div class="list-group list-group-flush">
            <i class='fa-solid fa-calendar fa-9x'></i><a href="/kanban" class="list-group-item list-group-item-action">Kanban</a>
            <i class='fa-solid fa-calendar fa-9x'></i><a href="/index" class="list-group-item list-group-item-action">index</a>
            <a href="/" class="list-group-item list-group-item-action">/</a>
            <a href="/calendar" class="list-group-item list-group-item-action">Calendar</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->