{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/kanban/static/css/kanban.css" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
<!-- icon_class="far fa-circle nav-icon" -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper kanban">
  <section class="content pb-3">
    <div class="container-fluid h-100">

      <div class="card card-row kanban-projects-root" id="kanban-projects-card">
          <div class="card-header">
            <h3 class="card-title">Root</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool"  id="kanban-projects-root-button">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="card-body" id="kanban-projects-body">
          </div>
      </div>

      <div class="card card-row kanban-projects-branch" id="kanban-projects-card">
          <div class="card-header">
            <h3 class="card-title">Branch</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool" id="kanban-projects-branch-button">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="card-body" id="kanban-projects-body">
          </div>
      </div>
      <div class="card card-row kanban-projects-leaf" id="kanban-projects-card">
          <div class="card-header">
            <h3 class="card-title">Leaf</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool" id="kanban-projects-leaf-button">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="card-body" id="kanban-projects-body">
          </div>
      </div>
      <div class="card card-row card-primary" id="kanban-card">
        <div class="card-header">
          <h3 class="card-title">To Do</h3>
          <div class="card-tools" id="kanban-todo-tools">
            <a href="#" class="btn btn-tool kanban-plus">
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="card-body connectedSortable" id="kanban-body">
        </div>
      </div>

      <div class="card card-row card-default" id="kanban-card">
        <div class="card-header bg-info">
          <h3 class="card-title">In Progress</h3>

        </div>
        <div class="card-body connectedSortable" id="kanban-body">

        </div>
      </div>

      <div class="card card-row card-success" id="kanban-card">
        <div class="card-header">
          <h3 class="card-title">Done</h3>

        </div>
        <div class="card-body connectedSortable" id="kanban-body">

        </div>
      </div>
    </div>
  </section>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="/kanban/static/js/kanban.js"></script>
{% endblock javascripts %}
