{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


    {% endblock stylesheets %}

    {% block content %}



    <link href="/static/css/demo.css" rel="stylesheet"/>
    <style type="text/css">
      .grid-stack { background: #000002; }
      .grid-stack-item-content { background-color: #222c2a; }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/plugins/gridstack/gridstack.min.css"/>
    <link rel="stylesheet" href="/static/plugins/gridstack/gridstack-extra.min.css"/>


      <div class="container-fluid">
        <h1>Two grids demo</h1>

        <div class="row">
          <div class="col-md-3">
            <div class="sidebar">
              <!-- will size to match content -->
              <div class="grid-stack-item">
                <div class="grid-stack-item-content">Drag me</div>
              </div>
              <!-- manually force a drop size of 2x1 -->
              <div class="grid-stack-item" gs-w="2" gs-h="1" gs-max-w="3">
                <div class="grid-stack-item-content">2x1, max=3</div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="trash">
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 20px">
          <div class="col-md-6">
            <a onClick="toggleFloat(this, 0)" class="btn btn-primary" href="#">float: false</a>
            <a onClick="compact(0)" class="btn btn-primary" href="#">Compact</a>
            <div class="grid-stack"></div>
          </div>
          <div class="col-md-6">
            <a onClick="toggleFloat(this, 1)" class="btn btn-primary" href="#">float: true</a>
            <a onClick="compact(1)" class="btn btn-primary" href="#">Compact</a>
            <div class="grid-stack"></div>
          </div>
        </div>
      </div>






{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/static/js/events.js"></script>
<script src="/static/plugins/gridstack/gridstack-h5.js"></script>
<script type="text/javascript">
  let options = {
    column: 6,
    minRow: 1, // don't collapse when empty
    cellHeight: 70,
    disableOneColumnMode: true,
    float: false,
    // dragIn: '.sidebar .grid-stack-item', // add draggable to class
    // dragInOptions: { revert: 'invalid', scroll: false, appendTo: 'body', helper: 'clone' }, // clone
    removable: '.trash', // true or drag-out delete class
    acceptWidgets: function(el) { return true; } // function example, but can also be: true | false | '.someClass' value
  };
  let grids = GridStack.initAll(options);
  grids[1].float(true);

  // new 4.x static method instead of setting up options on every grid (never been per grid really) but old options still works
  GridStack.setupDragIn('.sidebar .grid-stack-item', { revert: 'invalid', scroll: false, appendTo: 'body', helper: myClone });
  // GridStack.setupDragIn(); // second call will now work (cache last values)

  let items = [
    {x: 0, y: 0, w: 2, h: 2},
    {x: 3, y: 1, h: 2},
    {x: 4, y: 1},
    {x: 2, y: 3, w: 3, maxW: 3, id: 'special', content: ' <img src="https://s1.piq.land/2011/11/11/SzeBd4LeVj3I8H7Ynwh18PHU_400x400.png" alt="alternatetext"> '},
    {x: 2, y: 5}
  ];

  grids.forEach(function (grid, i) {
    addEvents(grid, i);
    grid.load(items);
  });

  // decide what the dropped item will be - for now just a clone but can be anything
  function myClone(event) {
    return event.target.cloneNode(true);
  }

  function toggleFloat(button, i) {
    grids[i].float(! grids[i].getFloat());
    button.innerHTML = 'float: ' + grids[i].getFloat();
  }

  function compact(i) {
    grids[i].compact();
  }


  grids[1].addWidget({w: 3, content: ' <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBYtGHl6o-J92F6EoSf_cVm598vWZzT4X0cg&usqp=CAU" alt="alternatetext">'});
</script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>




{% endblock javascripts %}
