.nav-pills#pills-tab{
    background-color: #343a40;
	background-clip: border-box;
	border: 1px solid rgba(250, 250, 250, 0.125);
	border-radius: 0.25rem;
}
.card-saved .card-header {
    padding: 0 !important;
    padding-left: 0.70em !important;
    color: rgb(39, 244, 251);
}

.fc .fc-toolbar-title {
	font-size: 1.0em;
	margin: 0;
}
.card-saved a{
    visibility:hidden;
}
.card-saved:hover a {
   visibility:visible;
}
.card-header-drag:hover{
    cursor: move;
}
.fc .fc-list-sticky .fc-list-day > * {
	background: var(--fc-page-bg-color, #4b6991);
}
:root {
	--fc-list-event-hover-bg-color: #46535e;
    overflow: hidden;
}
#pills-timeline-view{
    overflow-x: hidden !important;
}
#pills-table-view{
    overflow-x: hidden !important;
}
#pills-sp-view{
    overflow-x: hidden !important;
}
table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-radius: 0.25rem;
    background-color: #3f474e !important;
    border: 1px solid rgba(250, 250, 250, 0.125) !important;
}
table.dataTable thead th,
table.dataTable tfoot th {
    border-radius: 0.25rem;
    background-color: #343a40 !important;
    border: 1px solid rgba(250, 250, 250, 0.125) !important;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #fff !important;
}
#table_id{
    width: 100% !important;
}
.calendar-card{
    width: 100%;
}
.tab-content{
    height: 80vh;
}
.kanban{
    margin-left: 0px !important;
    padding: 0;
    margin-top: 1em;
    width: 100%;
}
#kanban-projects-card{
    margin-left: 0px !important;
    padding: 0;
    height: 85vh;
}

.container-fluid{
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper{
    padding: 0;
}

.fa-square-xmark {
    position: absolute;
    background:  #557582;
    color: white;
    top: -10px;
    left: -6px;
}

.fa-rectangle-xmark {
    position: absolute;
    background:  #557582;
    color: white;
    top: -10px;
    left: -6px;
}

.c3-tooltip td {
    color: #222;
}

#chart svg {
    background-color: #343a40;
    border: 1px solid rgba(250, 250, 250, 0.125);
    border-radius: 0.25rem;
}

path.domain { stroke: white !important; }
.tick text { stroke: rgb(255, 255, 255); }
.tick line { stroke: rgb(156, 156, 151) !important; }
.c3-legend-item text { stroke: white; }

.c3-axis-x, .c3-axis-y {
    fill:none;
    stroke:#fff !important;
}

.c3-line {
    stroke-width: 3px !important;
}

#sp-info{
    background-color: #3f474e;
    border-radius: 0.25rem;
}