.card-saved a{
    visibility:hidden;
}
.card-saved:hover a {
   visibility:visible;
}
.fc .fc-list-sticky .fc-list-day > * {
	background: var(--fc-page-bg-color, #4b6991);
}
:root {
	--fc-list-event-hover-bg-color: #46535e;
}
.calendar-card{
    width: 60%;
}
.tab-content{
    overflow: hidden;
    height: 89vh;
}
.kanban{
    margin-left: 0px !important;
    padding: 0;
    width: 100%;
}
#kanban-projects-card{
    margin-left: 0px !important;
    padding: 0;
    width: 8%;
    padding: 0;
}

.content{
    padding: 0  !important;
}

.container-fluid{
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0  !important;
}

.content-wrapper{
    padding: 0;
}

.fa-square-xmark {
    position: absolute;
    background:  #557582;
    color: white;
    top: -10px;
    right: -6px;
}

.fa-rectangle-xmark {
    position: absolute;
    background:  #557582;
    color: white;
    top: -10px;
    right: -6px;
}