

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'css_dep.html' %}
</head>
<body>

    <!-- Bootstrap Switch -->
<div class="card dark-mode">
    <div class="card-body">
        <ul class="todo-list" id="script-list">
        </ul>
    </div>
</div>
<!-- /.card -->

{% include 'js_dep.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js" data-turbolinks-track="true"></script>
<script src="/script_launcher/static/js/script_launcher.js"></script>

</body>
</html>

