{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="/calendar/static/plugins/fullcalendar/main.css"/>
<link href="/kanban/static/css/kanban.css" type="text/css" rel="stylesheet" />
<link href="/kanban/static/plugins/tempusdominus/css/tempus-dominus.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper kanban">
  <section class="content pb-3">
    <div class="container-fluid h-75">
      <div class="col-4 container-fluid h-75"> <!--upper -->
        <div class="card card-row kanban-projects-root" id="kanban-projects-card">
          <div class="card-header">
            <h3 class="card-title">Root</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool"  id="kanban-projects-root-button">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="card-body" id="kanban-projects-body">
          </div>
        </div>
        <div class="card card-row kanban-projects-branch" id="kanban-projects-card">
          <div class="card-header">
            <h3 class="card-title">Branch</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool" id="kanban-projects-branch-button">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="card-body" id="kanban-projects-body">
          </div>
        </div>
        <div class="card card-row kanban-projects-leaf" id="kanban-projects-card">
          <div class="card-header">
            <h3 class="card-title">Leaf</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool" id="kanban-projects-leaf-button">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="card-body" id="kanban-projects-body">
          </div>
        </div>
      </div>
      <div class="col-8"><!--downer-->
        <div class=""> <!--this is the right side container.-->
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-kanban-view-tab" data-bs-toggle="pill" data-bs-target="#pills-kanban-view" type="button" role="tab" aria-controls="pills-kanban-view" aria-selected="true">Kanban-view</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-calendar-view-tab" data-bs-toggle="pill" data-bs-target="#pills-calendar-view" type="button" role="tab" aria-controls="pills-calendar-view" aria-selected="false">Calendar-view</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active  h-100" id="pills-kanban-view" role="tabpanel" aria-labelledby="pills-kanban-view-tab" tabindex="0">
              <div class="container-fluid h-100"> <!--this is the tab container.-->
                <div class="card card-row card-primary" id="kanban-todo-card">
                  <div class="card-header">
                    <h3 class="card-title">To Do</h3>
                    <div class="card-tools" id="kanban-todo-tools">
                      <a href="#" class="btn btn-tool kanban-plus">
                        <i class="fas fa-plus"></i>
                      </a>
                    </div>
                  </div>
                  <div class="card-body connectedSortable" id="kanban-todo-body">
                  </div>
                </div>
                <div class="card card-row card-default" id="kanban-prog-card">
                  <div class="card-header bg-info">
                    <h3 class="card-title">In Progress</h3>
                  </div>
                  <div class="card-body connectedSortable" id="kanban-prog-body">
                  </div>
                </div>
                <div class="card card-row card-success" id="kanban-done-card">
                  <div class="card-header">
                    <h3 class="card-title">Done</h3>
                  </div>
                  <div class="card-body connectedSortable" id="kanban-done-body">
                  </div>
                </div><!--here-->
              </div>
            </div>
            <div class="tab-pane fade" id="pills-calendar-view" role="tabpanel" aria-labelledby="pills-calendar-view-tab" tabindex="0">
              <div class="row">
                <div class="col-md-3">
                  <div class="sticky-top mb-3">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Draggable Events</h4>
                      </div>
                      <div class="card-body">
                        <!-- the events -->
                        <div id="external-events">
                          <div class="external-event bg-success">Lunch</div>
                          <div class="external-event bg-warning">Go home</div>
                          <div class="external-event bg-info">Do homework</div>
                          <div class="external-event bg-primary">Work on UI design</div>
                          <div class="external-event bg-danger">Sleep tight</div>
                          <div class="checkbox">
                            <label for="drop-remove">
                              <input type="checkbox" id="drop-remove">
                              remove after drop
                            </label>
                          </div>
                        </div>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Create Event</h3>
                      </div>
                      <div class="card-body">
                        <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                          <ul class="fc-color-picker" id="color-chooser">
                            <li><a class="text-primary" href="#"><i class="fas fa-square"></i></a></li>
                            <li><a class="text-warning" href="#"><i class="fas fa-square"></i></a></li>
                            <li><a class="text-success" href="#"><i class="fas fa-square"></i></a></li>
                            <li><a class="text-danger" href="#"><i class="fas fa-square"></i></a></li>
                            <li><a class="text-muted" href="#"><i class="fas fa-square"></i></a></li>
                          </ul>
                        </div>
                        <!-- /btn-group -->
                        <div class="input-group">
                          <input id="new-event" type="text" class="form-control" placeholder="Event Title">

                          <div class="input-group-append">
                            <button id="add-new-event" type="button" class="btn btn-primary">Add</button>
                          </div>
                          <!-- /btn-group -->
                        </div>
                        <!-- /input-group -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                  <div class="card card-primary">
                    <div class="card-body p-0">
                      <!-- THE CALENDAR -->
                      <div id="calendar"></div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/calendar/static/plugins/fullcalendar/main.js"></script>
<script src="/kanban/static/js/kanban.js"></script>
<script src="/kanban/static/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/kanban/static/plugins/popper/popper.min.js"></script>
<script src="/kanban/static/plugins/tempusdominus/js/tempus-dominus.min.js"></script>
{% endblock javascripts %}

