{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/plugins/fullcalendar/main.css" rel="stylesheet" />
<link href="/kanban/static/css/kanban.css" rel="stylesheet" />
<link href="/static/plugins/tempusdominus/css/tempus-dominus.min.css" rel="stylesheet">
<link href="/static/plugins/datatables/dataTables.css" rel="stylesheet">
<link href="/static/plugins/icheck/icheck-bootstrap.min.css" rel="stylesheet">
<link href="/static/plugins/c3/c3.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper kanban">
  <section class="content pb-3">
    <div class="container-fluid h-75">
      <div class="col-4 container-fluid h-75"> <!--upper -->
        <div class="card card-row kanban-projects-root" id="kanban-projects-card">
          <div class="card-header">
            <h3 class="card-title">Root</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool"  id="kanban-projects-root-button">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="card-body" id="kanban-projects-body">
          </div>
        </div>
        <div class="card card-row kanban-projects-branch" id="kanban-projects-card">
          <div class="card-header">
            <h3 class="card-title">Branch</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool" id="kanban-projects-branch-button">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="card-body" id="kanban-projects-body">
          </div>
        </div>
        <div class="card card-row kanban-projects-leaf" id="kanban-projects-card">
          <div class="card-header">
            <h3 class="card-title">Leaf</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool" id="kanban-projects-leaf-button">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="card-body" id="kanban-projects-body">
          </div>
        </div>
      </div>
      <div class="col-8"><!--downer-->
        <div class=""> <!--this is the right side container.-->
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-kanban-view-tab" data-bs-toggle="pill" data-bs-target="#pills-kanban-view" type="button" role="tab" aria-controls="pills-kanban-view" aria-selected="true">Kanban-view</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-calendar-view-tab" data-bs-toggle="pill" data-bs-target="#pills-calendar-view" type="button" role="tab" aria-controls="pills-calendar-view" aria-selected="false">Calendar-view</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-timeline-view-tab" data-bs-toggle="pill" data-bs-target="#pills-timeline-view" type="button" role="tab" aria-controls="pills-timeline-view" aria-selected="false">Timeline-view</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-table-view-tab" data-bs-toggle="pill" data-bs-target="#pills-table-view" type="button" role="tab" aria-controls="pills-table-view" aria-selected="false">Table-view</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-sp-view-tab" data-bs-toggle="pill" data-bs-target="#pills-sp-view" type="button" role="tab" aria-controls="pills-sp-view" aria-selected="false">SP-view</button>
            </li>
            <li class="nav-item  ml-auto" role="presentation">
              <button class="nav-link disabled" id="pills-time-view-tab" data-bs-toggle="pill" data-bs-target="#pills-time-view" type="button" role="tab" aria-controls="pills-time-view" aria-selected="false"></button>
            </li>
          </ul>
          <div class="tab-content " id="pills-tabContent">
            <div class="tab-pane fade show active  h-100" id="pills-kanban-view" role="tabpanel" aria-labelledby="pills-kanban-view-tab" tabindex="0">
              <div class="container-fluid h-100"> <!--this is the tab container.-->
                <div class="card card-row card-primary" id="kanban-todo-card">
                  <div class="card-header">
                    <h3 class="card-title">To Do</h3>
                    <div class="card-tools" id="kanban-todo-tools">
                      <a href="#" class="btn btn-tool kanban-plus">
                        <i class="fas fa-plus"></i>
                      </a>
                    </div>
                  </div>
                  <div class="card-body connectedSortable" id="kanban-todo-body">
                  </div>
                </div>
                <div class="card card-row card-default" id="kanban-prog-card">
                  <div class="card-header bg-info">
                    <h3 class="card-title">In Progress</h3>
                  </div>
                  <div class="card-body connectedSortable" id="kanban-prog-body">
                  </div>
                </div>
                <div class="card card-row card-success" id="kanban-done-card">
                  <div class="card-header">
                    <h3 class="card-title">Done</h3>
                  </div>
                  <div class="card-body connectedSortable" id="kanban-done-body">
                  </div>
                </div><!--here-->
              </div>
            </div>
            <div class="tab-pane fade" id="pills-calendar-view" role="tabpanel" aria-labelledby="pills-calendar-view-tab" tabindex="0">
              <div class="row">
                <div class="card card-primary">
                  <div class="card-body p-0">
                    <div id="calendar"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade overflow-auto h-100" id="pills-timeline-view" role="tabpanel" aria-labelledby="pills-timeline-view-tab" tabindex="0">
              <div class="row">
                <div class="tab-pane" id="timeline">
                  <div class="timeline">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade overflow-auto h-100" id="pills-table-view" role="tabpanel" aria-labelledby="pills-table-view-tab" tabindex="0">
              <div class="row">
                <div class="tab-pane">
                  <table id="table_id" class="display" class="table table-bordered table-hover dataTable dtr-inline" class="cell-border" >
                    <thead>
                        <tr>
                          <th>Id</th>
                          <th>Title</th>
                          <th>Priority</th>
                          <th>Prog-time</th>
                          <th>Content</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade overflow-auto h-100" id="pills-sp-view" role="tabpanel" aria-labelledby="pills-sp-view-tab" tabindex="0">
              <div class="row">
                <div class="tab-pane">
                  <div id="chart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/plugins/fullcalendar/main.js"></script>
<script src="/static/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/plugins/popper/popper.min.js"></script>
<script src="/static/plugins/tempusdominus/js/tempus-dominus.min.js"></script>
<script src="/static/plugins/datatables/dataTables.js"></script>
<script src="/static/plugins/d3/d3.min.js"></script>
<script src="/static/plugins/c3/c3.min.js"></script>
<script src="/kanban/static/js/kanban.js"></script>
{% endblock javascripts %}

