:root {
    --card_iframe_h: 94%;
  }

.grid-stack { background: #000002; }
#resizable {
    width: 100%;
    height: var(--card_iframe_h);
    display: flex;
}

#resizable iframe {
    width: 100%;
    min-height: var(--card_iframe_h);
}

.card-header{
    width: 100%;
    max-height: 4%;
}

.my-card{
    width: 100%;
    height:  var(--card_iframe_h);
}