

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/favicon.ico">

  <title>
    Script Center - {% block title %}{% endblock %}
  </title>
  {% include 'css_dep.html' %}
  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="hold-transition {% block body_class %}{% endblock body_class %} dark-mode">
<div class="wrapper">

    {% include 'navbar.html' %}

    {% include 'sidebar.html' %}
    <div class="content-wrapper">
    {% block content %}{% endblock content %}
    </div>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->
{% include 'js_dep.html' %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

</body>
</html>
