

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/favicon.ico">

  <title>
    AdminLTE Flask - {% block title %}{% endblock %} | AppSeed
  </title>
  <link rel="stylesheet" href="/static/plugins/adminlte/adminlte.css">
  <link href="/static/plugins/bootstrap_dark/bootstrap-unlit.css" rel="stylesheet">
  <link href="/static/plugins/fontawesome/css/all.min.css" rel="stylesheet">

  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="hold-transition {% block body_class %}{% endblock body_class %} dark-mode">
<div class="wrapper">

    {% include 'navbar.html' %}

    {% include 'sidebar.html' %}
    <div class="content-wrapper">
    {% block content %}{% endblock content %}
    </div>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->
<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/plugins/bootstrap_dark/bootstrap.bundle.min.js"></script>
<script src="/static/plugins/adminlte/adminlte.js"></script>
<script src="/static/plugins/adminlte/demo.js"></script>
<script src="/static/js/base.js"></script>

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

</body>
</html>
