<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link href="/static/plugins/bootstrap_dark/bootstrap-unlit.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    {% block stylesheets %}{% endblock stylesheets %}

    <link rel="icon" href="/static/favicon.ico">
</head>

<body class="hold-transition {% block body_class %}{% endblock body_class %} dark-mode">

    <div class="d-flex" id="wrapper">
        {% include 'sidebar.html' %}
        <div id="page-content-wrapper">
            {% include 'navbar.html' %}
            {% block content %}{% endblock content %}
        </div>
    </div>

    <script src="/static/js/base.js"></script>

    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
