

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'css_dep.html' %}
    <link rel="stylesheet" href="/static/plugins/xterm/xterm.css"/>
</head>
<body>

    <div id="terminal"></div>

    {% include 'js_dep.html' %}
    <script src="/static/plugins/xterm/xterm.js"></script>
    <script src="/assistant/static/js/assistant.js"></script>
</body>
</html>

