{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/kanban/fontawesome/css/all.min.css" rel="stylesheet">
<link href="/static/kanban/tempusdominus/css/tempus-dominus.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid">
        <h1 class="mt-4">Simple Sidebar</h1>
        <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on
            larger screens. When toggled using the button below, the menu will change.</p>
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is
            optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which
            will toggle the menu when clicked.</p>
    </div>
    <span id='icon-only' class='log-event' style='display: inline-block'> <i class='fa-solid fa-calendar fa-9x'></i></span>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/kanban/popper/popper.min.js"></script>
<script src="/static/kanban/tempusdominus/js/tempus-dominus.min.js"></script>
<script>
    new tempusDominus.TempusDominus(document.getElementById('icon-only'));
</script>
{% endblock javascripts %}
